body {
    font-family: 'Arial';
}
.nav-wrapper {
    background-color: gray;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    text-align: right;
}
article {
    background-color: lavender;
    border: 2px dotted black;
}
footer {
    text-align: center;
    border-top: 5px solid black;
}
.container {
    border: 5px solid black;
}
h3 {
    font-size: larger;
    text-align: center;
    background-color: white;
}
h1 {
    text-align: center;
    font-size: x-large;
}